<div class="location">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3910.029967328561!2d80.24212641481857!3d13.040860890671657!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5267cc89e3a3db%3A0xaed0a1359d3e0b89!2sChennai%2C%20Tamil%20Nadu%20600055!5e0!3m2!1sen!2sin!4v1691572800000!5m2!1sen!2sin"
    width="600"
    height="450"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    title="FoodFrenzy Location Map - Chennai"
  ></iframe>
</div>

<section class="contact-us">
  <div class="contact-col">
    <div>
      <i class="contact-icon fas fa-home"></i>
      <div>
        <h5>Chennai, Tamil Nadu 600055</h5>
        <p>Chennai, India</p>
      </div>
    </div>

    <div>
      <i class="contact-icon fas fa-phone"></i>
      <div>
        <h5>+91 72340 20314</h5>
        <p>Monday to Saturday, 10AM to 8PM</p>
      </div>
    </div>

    <div>
      <i class="contact-icon fas fa-envelope"></i>
      <div>
        <h5>scanurag@gmail.com</h5>
        <p>Email us your query</p>
      </div>
    </div>
  </div>
  
  <!-- Rest of form remains unchanged -->
</section>
